/**
 * Element 样式重置（为保持重置样式统一管理）
 */
#app {
    .el-menu-item.is-active {
        color: $sop-color-white;
        background-color: $sop-color-theme !important;
    }
    // .el-form{
    //     background: #fff;
    //     border-radius: 6px;
    //     border:1px solid #ebebeb;
    //     padding:35px 30px 15px;
    //     font-size: 14px;
    //     color: #666;
    //     .el-form-item{
    //         margin-right:30px;
    //     }
    //     .el-form-item__label{
    //         text-align: right;
    //         width:120px;
    //     }
    //     .el-form-item__content{
    //         width:200px;
    //     }
    //     .el-select{
    //         width:200px;
    //     }
    //     .query-box{
    //         // float:right;
    //     }
    // }
    
    .clear-number {
        input[type=number] {
            padding: 0 0 0 15px !important;
        }
    }
    .el-dialog-limit {
        .el-dialog__body {
            max-height: 400px;
            overflow-y: auto;
        }
    }
    .cb-table-style {
        .el-table {
            th {
                background: $sop-color-f2;
                color: $sop-color-3;
            }
        }
    }
    .sop-tabs {
        .el-tabs__header {
            margin: 0;
            border: none !important;
            .el-tabs__nav {
                border: none;
            }
        }
        .el-tabs__nav-wrap {
            margin: 0;
        }
        .el-tabs__item {
            color: $sop-color-theme;
            margin-right: 15px;
            border: 1px solid #E4E7ED;
            border-bottom: none !important;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            &.is-active {
                color: $sop-color-white;
                background: $sop-color-theme;
            }
        }
        .el-tabs__content {
            border: 1px solid #E4E7ED;
            background: #FBFBFB;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
        }
    }
    .service-uploader {
        .el-upload {
          border: 1px dashed #d9d9d9;
          border-radius: 6px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          &:hover {
            border-color: #409EFF;
          }
        }
        .service-uploader-icon {
          font-size: 28px;
          color: #8c939d;
          width: 90px;
          height: 90px;
          line-height: 90px;
          text-align: center;
        }
        .avatar {
          width: 90px;
          height: 90px;
          display: block;
        }
    }

    .ce-simple-table >.el-form ,.custom-ui-search-form{
        padding:40px 40px 20px 40px;
        background: #ffffff;
        border-radius: 6px;
        border: 1px solid #EBEBEB;
        margin-bottom: 40px;
    }

    .detal-page {
        .panel{
            width: 100%;
            margin-bottom: 20px;
            background: #fff;
            border: 1px solid #EBEBEB;
            border-radius: 6px;
            .title{
                height:50px;
                background:none;
                margin: 0;
                color: #999;
                border-bottom: 1px solid #EBEBEB;
                .el-divider__text{
                    line-height: 50px;
                    padding-left: 30px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #333;
                    transform:none;
                    left:0;
                    background:none;
                }
            }
            .content{
                padding: 25px 10px 17px 10px;
                .el-form-item{
                    margin-bottom:8px;
                    width:32%;
                }
                .el-form-item__label{
                    font-size: 12px;
                    width: 100px;
                    text-align: right;
                    float: left;
                    margin: 0;
                    color: #999;
                }
                .el-form-item__content {
                    .g9{
                        font-size: 12px;
                        color: #666;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        float: left;
                    }
                }
            }
        }
    }
}


