/**
 * Element 样式重置（为保持重置样式统一管理）
 */
#app {
    .el-menu-item.is-active {
        color: $sop-color-white;
        background-color: $sop-color-theme !important;
    }
    .el-form{
        background: #fff;
        border-radius: 6px;
        border:1px solid #ebebeb;
        padding:35px 30px 15px;
        font-size: 14px;
        color: #666;
        .el-form-item{
            margin-right:30px;
        }
        .el-form-item__label{
            text-align: right;
            width:120px;
        }
        .el-form-item__content{
            width:200px;
        }
        .el-select{
            width:200px;
        }
        .query-box{
            // float:right;
        }
    }
}